USE [ezFixUp14thAugust2011]
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 10/10/2011 03:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[UpdateUser]
(
	@Username	VARCHAR(20),
	@Password	VARCHAR(250),
	@Email		VARCHAR(250),
	@Name		NVARCHAR(250),
	@Gender	INT,
	@InterestedIn	INT,
	@Birthdate	DATETIME,
	@Birthdate2	DATETIME = NULL,
	@Active	BIT,
	@SmsConfirmed BIT,
	@ReceiveEmails BIT,
	@ProfileVisible	BIT,
	@Country	NVARCHAR(100),
	@State		NVARCHAR(100),
	@ZipCode	VARCHAR(15),
	@City		NVARCHAR(100),
	@Paid		bit,
	@MessageVerificationsLeft INT,
	@LanguageId	INT,
	@BillingDetails NTEXT,
	@InvitedBy	VARCHAR(20),
	@IncomingMessagesRestrictions	NTEXT,
	@Deleted	BIT,
	@AffiliateID	INT,
	@Options	BIGINT,
	@Longitude	float,
	@Latitude	FLOAT,
	@UpdatePaidStatus	BIT,
	@TokenUniqueId VARCHAR(100) = NULL,
	@PersonalizationInfo NTEXT,
	@Credits INT,
	@ModerationScore INT,
	@SpamSuspected BIT,
	@FaceControlApproved BIT,
	@ProfileSkin NVARCHAR(100) = NULL,
	@StatusText NVARCHAR(50),
	@FeaturedMember BIT,
	@MySpaceID VARCHAR(50),
	@FacebookID BIGINT,
	@EventsSettings BIGINT
)
AS
	UPDATE Users
	SET
		u_password = @Password, 
		u_email = @Email,
		u_name = @Name,
		u_gender = @Gender,
		u_interested_in = @InterestedIn,
		u_birthdate = @Birthdate,
		u_birthdate2 = @Birthdate2,
		u_active = @Active,
		u_smsconfirmed = @SmsConfirmed,
		u_receiveemails = @ReceiveEmails,
		u_profilevisible = @ProfileVisible,
		u_country = @Country,
		u_state = @State,
		u_zip_code = @ZipCode,
		u_city = @City,
		u_paid_member = CASE @UpdatePaidStatus WHEN 1 THEN @Paid ELSE [u_paid_member] END,
		u_message_verifications_left = @MessageVerificationsLeft,
		l_id = @LanguageId,
		u_billingdetails = @BillingDetails,
		u_invited_by = @InvitedBy,
		u_incoming_messages_restrictions = @IncomingMessagesRestrictions,
		u_deleted = @Deleted,
		a_id = @AffiliateID,
		u_options = @Options,
		u_longitude = @Longitude,
		u_latitude = @Latitude,
		u_tokenuniqueid = @TokenUniqueId,
		[u_personalizationinfo] = @PersonalizationInfo,
		u_credits = CASE @UpdatePaidStatus WHEN 1 THEN @Credits ELSE [u_credits] END,
		u_moderationscore = @ModerationScore,
		u_spamsuspected = @SpamSuspected,
		u_face_control_approved = @FaceControlApproved,
		u_profile_skin = @ProfileSkin,
		u_status_text = @StatusText,
		u_featuredmember = @FeaturedMember,
		u_myspaceid = @MySpaceID,
		u_facebookid = @FacebookID,
		u_eventssettings = @EventsSettings

	WHERE
		u_username = @Username
