<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.60919" targetFramework="net40" />
  <package id="AjaxMin" version="4.74.4698.25434" targetFramework="net35" />
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="dotless" version="1.3.1.0" targetFramework="net40" />
  <package id="elmah" version="1.2.2" />
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="EnterpriseLibrary.Caching" version="5.0.505.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.Data" version="5.0.505.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="5.0.505.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.Logging" version="5.0.505.1" targetFramework="net40" />
  <package id="EnterpriseLibrary.Security" version="5.0.505.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.Validation" version="5.0.505.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net40" />
</packages>