/*
   יום ראשון 13 מאי 201220:21:23
   User: 
   Server: .\SQLEXPRESS
   Database: dbezFixUp20120408
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Friends ADD
	f_denied_counter int NOT NULL CONSTRAINT DF_Friends_f_denied_counter DEFAULT 0
GO
ALTER TABLE dbo.Friends
	DROP CONSTRAINT DF_Friends_f_accepted
GO
ALTER TABLE dbo.Friends ADD CONSTRAINT
	DF_Friends_f_accepted DEFAULT ((1)) FOR f_accepted
GO
ALTER TABLE dbo.Friends SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Friends', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Friends', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Friends', 'Object', 'CONTROL') as Contr_Per 



GO
CREATE PROCEDURE [dbo].[RemoveOrDenyFriendship]
	(
		@Username varchar(20),
		@Friend varchar(20)
	)
 AS
	if exists (select 1 from Friends where @Username = f_username AND @Friend = u_username)
		update Friends 
		SET f_accepted=0, f_denied_counter = f_denied_counter + 1
		where (@Username = f_username AND @Friend = u_username)
		
	UPDATE Friends 
	SET f_accepted=0
	WHERE (@Username = u_username AND @Friend = f_username and f_is_facebook_friend=1)
	
	DELETE FROM Friends 
	WHERE (@Username = u_username AND @Friend = f_username and f_is_facebook_friend=0)

	
GO
	
