USE [ezFixUp7DB]
GO
/****** Object:  Table [dbo].[ProfileTopics]    Script Date: 01/11/2011 23:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileTopics](
	[pt_id] [int] IDENTITY(1,1) NOT NULL,
	[pt_name] [nvarchar](250) NOT NULL,
	[pt_priority] [int] NOT NULL,
	[pt_editcolumns] [int] NOT NULL,
	[pt_viewcolumns] [int] NOT NULL,
 CONSTRAINT [PK_ProfileCategories] PRIMARY KEY CLUSTERED 
(
	[pt_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProfileTopics] ADD  CONSTRAINT [DF_ProfileCategories_pc_priority]  DEFAULT ((1)) FOR [pt_priority]
GO
ALTER TABLE [dbo].[ProfileTopics] ADD  CONSTRAINT [DF_ProfileTopics_pt_columns]  DEFAULT ((1)) FOR [pt_editcolumns]
GO
ALTER TABLE [dbo].[ProfileTopics] ADD  CONSTRAINT [DF_ProfileTopics_pt_viewcolumns]  DEFAULT ((1)) FOR [pt_viewcolumns]
GO
