/*
   יום שני 13 יוני 201101:18:28
   User: 
   Server: .\SQLEXPRESS
   Database: ezFixUp2ndMarch2011
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.GiftCategories ADD
	gc_active bit NOT NULL CONSTRAINT DF_GiftCategories_gc_active DEFAULT 1
GO
ALTER TABLE dbo.GiftCategories SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.GiftCategories', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.GiftCategories', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.GiftCategories', 'Object', 'CONTROL') as Contr_Per 