USE [ezFixUp2ndMarch2011]
GO

/****** Object:  StoredProcedure [dbo].[SaveEcardType]    Script Date: 05/10/2011 19:26:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaveEcardType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SaveEcardType]
GO

USE [ezFixUp2ndMarch2011]
GO

/****** Object:  StoredProcedure [dbo].[SaveEcardType]    Script Date: 05/10/2011 19:26:08 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveEcardType]
	(
		@ID INT,
		@CategoryID INT,
		@Name NVARCHAR(200),
		@Phrase NVARCHAR(250),
		@Content IMAGE,
		@Type INT,
		@Active BIT
	)
AS

IF (@ID IS NULL)
	BEGIN
		INSERT INTO EcardTypes (ect_category_id, ect_name, ect_phrase, ect_content, ect_type, ect_active)
					VALUES (@CategoryID, @Name, @Phrase, @Content, @Type, @Active)
		SELECT @@Identity
	END
ELSE
	BEGIN
		UPDATE EcardTypes
		SET ect_category_id=@CategoryID,
			ect_name = @Name,
			ect_phrase = @Phrase,
			ect_content = @Content,
			ect_type = @Type,
			ect_active = @Active
		WHERE ect_id = @ID
	END

GO


