USE [ezFixUp7DB]
GO
/****** Object:  Table [dbo].[Translations]    Script Date: 01/11/2011 23:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translations](
	[l_id] [int] NOT NULL,
	[t_key] [nvarchar](400) NOT NULL,
	[t_adminpanel] [int] NOT NULL,
	[t_value] [nvarchar](400) NOT NULL,
 CONSTRAINT [PK_Translations_1] PRIMARY KEY CLUSTERED 
(
	[l_id] ASC,
	[t_key] ASC,
	[t_adminpanel] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Translations]  WITH NOCHECK ADD  CONSTRAINT [FK_Translations_Languages] FOREIGN KEY([l_id])
REFERENCES [dbo].[Languages] ([l_id])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Translations] NOCHECK CONSTRAINT [FK_Translations_Languages]
GO
ALTER TABLE [dbo].[Translations] ADD  CONSTRAINT [DF_Translations_l_id]  DEFAULT ((1)) FOR [l_id]
GO
ALTER TABLE [dbo].[Translations] ADD  CONSTRAINT [DF_Translations_t_adminpanel]  DEFAULT ((0)) FOR [t_adminpanel]
GO
