/*
   יום ראשון 12 יוני 201122:00:15
   User: 
   Server: .\SQLEXPRESS
   Database: LoveHitch2ndMarch2011
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.GiftTypes ADD
	gt_price int NULL
GO
ALTER TABLE dbo.GiftTypes ADD CONSTRAINT
	DF_GiftTypes_gt_price DEFAULT 0 FOR gt_price
GO
ALTER TABLE dbo.GiftTypes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.GiftTypes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.GiftTypes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.GiftTypes', 'Object', 'CONTROL') as Contr_Per 